@use './_variables' as vars;

@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-space-around($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-around;
  align-items: center;
  gap: $gap;
}

//top border color MIXIN 
@mixin card-top-border-color($color: black) {
  border-top: 4px solid $color;
}

@mixin card-hover($color: black) {
  transition: transform 0.3s linear, box-shadow 0.3s linear; // Linear transition for both scale and shadow

  &:hover {
    box-shadow: rgba($color, 0.25) 0px 13px 27px -5px, rgba($color, 0.3) 0px 8px 16px -8px; // Dynamic shadow color
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.01);
  }
}



html {
  font-family: vars.$FontFamily;
  min-height: 100vh;
  background-color: vars.$White;
  @include flex-center(column, 1rem);

  body {
    min-width: vars.$MobileWidth;
    @include flex-center(column, 1rem);
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.3rem 0;
  text-align: center;
  background-color: vars.$White;
  cursor: default;
  user-select: none; // Prevent text selection

  @media (min-width: 600px) {
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }

}

.card-container {
  @include flex-space-around(column, 1rem);
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem 2rem;
  margin-top: 1.5rem;

  @media (min-width: 960px) {
    display: grid;
    grid-template-columns:
      repeat(3, 1fr);
    grid-template-rows:
      repeat(2, 1fr);
      width: 100%;
    max-width: 1200px;
    padding: 0 2rem 2rem;
    margin-top: 1.5rem;
    grid-template-areas:
      "col1 col2.1 col2.2"; // Define the layout areas
  }

}

.card {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: vars.$White;
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  user-select: none; // Prevent text selection

  .card-icon {
    flex-shrink: 0; // Prevent the icon from shrinking
    display: flex;
    flex-direction: row;
    justify-content: end; // Center the icon horizontally
  }

}