@use './_variables' as vars;
@use './containers' as mix;


// GLOBAL RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// GLOBAL STYLES 
// img reset
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

// elements styles
main {

  margin: 25px 0;

  h1 {
    font-size: 1.2rem;
    color: vars.$Grey500;
    font-weight: 200;
    letter-spacing: 1.5px; //da cambiare con clamp se necessario;
  }

  h2 {
    font-size: 1.4rem;
    color: vars.$Grey500;
    font-weight: 600;
  }

  .main-descr {
    font-size: 0.9rem;
    color: vars.$Grey400;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .card-title {
    font-size: 1.15rem;
    color: vars.$Grey500;
    font-weight: 600;
  }

  .card-descr {
    font-size: 13px;
    color: vars.$Grey400;
    font-weight: 400;
  }


  .card-supervisor {
    @include mix.card-top-border-color(vars.$Cyan);
    @include mix.card-hover(vars.$Cyan);
  }

  .card-team-builder {
    @include mix.card-top-border-color(vars.$Red);
    @include mix.card-hover(vars.$Red);
  }

  .card-karma {
    @include mix.card-top-border-color(vars.$Orange);
    @include mix.card-hover(vars.$Orange);  
  }

  .card-calculator {
    @include mix.card-top-border-color(vars.$Blue);
    @include mix.card-hover(vars.$Blue);
  }
}